<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gempukku.mtg.trader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".MtgTraderApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".TradeScreen"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ChooseCardScreen"
                android:label="@string/title_activity_choose_card"
                android:screenOrientation="sensorPortrait">
        </activity>
        <activity
                android:name=".HistoryScreen"
                android:label="@string/title_activity_history"
                android:screenOrientation="sensorPortrait">
        </activity>
        <activity
                android:name=".CardDetails"
                android:label="@string/title_activity_card_details"
                android:screenOrientation="sensorPortrait">
        </activity>
    </application>

</manifest>
